<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Lisää käyttökoiran tiedot</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
          <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	</head>
	<body>
     <div class="container">

     <!--   <h1 th text="'Nyt voit lisätä käyttökoiran tiedot, ' + ${KAYTTAJANNIMI}" + '!'></h1> -->

     <!-- Validoi koiran tiedot (luokassa) -->
    


      <p><h1 th:text="'Täytä koiran tiedot: '"></h1></p>



    <form th:action="@{/save}" th:object="${dog}" method="POST">

     <table class="table table-striped">
          <tr>
               <td>Koiran nimi: </td>
               <td><input type="text" th:field="*{dogname}" /></td>
                <td th:if="${#fields.hasErrors('dogname')}" th:errors="*{dogname}" class="text-danger">Koiran nimi Virheviesti</td>
               </tr>


     <!-- Rotu-pudotusvalikko tähän -->
               <tr><td>Rotu:</td>
               <td><select th:field="*{breed}">
	          <option th:each="breed: ${breeds}"
		     th:value="${breed.id}"
		     th:text="${breed.breedname}"></option>
               </select>

               <a href="#" onclick="AvaaLisaaRotu()" class="btn btn-link p-0">Lisää uusi rotu</a><br>
               <a href="#" onclick="AvaaPoistaRotu()" class="btn btn-link p-0">Poista listalta rotu</a>
               </td></tr>


<tr>
<td>Sukupuoli:</td>
<td><select id="genderlist" th:field="*{gender}">
               <option value="Narttu">Narttu</option>
               <option value="Uros">Uros</option>
               <option value="Ei tietoa">Ei tietoa</option>
               </select></td>
<td th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="text-danger">Sukupuoli Virheviesti</td>
</tr>

<tr>
<td>Syntymävuosi:</td>
<td><input type="text" th:field="*{birthyear}"/></td>
<td th:if="${#fields.hasErrors('birthyear')}" th:errors="*{birthyear}" class="text-danger">Syntymävuosi Virheviesti</td>
</tr>

<tr>
     <td>Omistaja:</td>
     <td><input type="text" th:field="*{owner}"/></td>
     <td th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}" class="text-danger">Omistaja Virheviesti</td>
</tr>

<tr>
     <td>Lajit:</td>
     <td><input type="text" th:field="*{activities}"/></td>
     <td th:if="${#fields.hasErrors('activities')}" th:errors="*{activities}" class="text-danger">Lajit Virheviesti</td>
</tr>

<tr>
     <td>Kuvaus:</td>
     <td><input type="text" th:field="*{description}"/></td>
     <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger">Kuvaus Virheviesti</td>
</tr>


</table>


    <input type="submit" class="btn btn-primary" value="Tallenna"/>
    <tr><a href="/main" button type="button" class="btn btn-primary">Peruuta</a></tr>
    </form>

</div>





<script>
  function AvaaLisaaRotu() {
    document.getElementById("newBreedInput").style.display = "block";
    document.getElementById("addBreedButton").style.display = "inline-block";
    document.getElementById("BreedError").style.display = "none";
  }
  function AvaaPoistaRotu() {
    document.getElementById("DeleteBreedInput").style.display = "block";
    document.getElementById("deleteBreedButton").style.display = "inline-block";
  }
</script>

<br>
<form th:action="@{/addbreed}" th:object="${breed}" method="POST">
               <input type="text" th:field="*{breedname}" class="form-control mb-2"
               id="newBreedInput" placeholder="Syötä tähän uusi rotu" style="display:none;"/>
               <button type="submit" class="btn btn-outline-secondary btn-sm" id="addBreedButton" style="display:none;">Lisää rotu</button>
               <div th:if="${#fields.hasErrors('breedname')}" th:errors="*{breedname}" id="BreedError" class="text-danger">Rotu Virheviesti</div>
               </form><br>

<form th:action="@{/deletebreed}" th:object="${breed}" method="POST">
               <input type="text" th:field="*{breedname}" class="form-control mb-2"
               id="DeleteBreedInput" placeholder="Syötä tähän poistettava rotu" style="display:none;"/>
               <button type="submit" class="btn btn-danger btn-sm" id="deleteBreedButton" style="display:none;">Poista rotu</button>
               </form>



     <!-- <h1>Kirjautuneena: <span sec:authentication="name"></span></h1>  -->
     <!-- <h1>Oikeutesi: <span sec:authentication="principal.authorities">[ROOLI_USER, ROOLI_ADMIN]</span></h1>  -->



	</body>
</html>