<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Salmeron Palveluskoirayhdistys ry</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

	</head>
	<body>
	<div class="container">

     <!--/*   <h1 th:text="'Tervetuloa Salmeron Palveluskoirat ry:n sivuille ' + ${KAYTTAJANNIMI}" + '!'></h1> */-->




    <p><h1 th:text="'Lista käyttökoiristamme: '"></h1></p>

     <table class="table table-bordered">
		<tr>
        <th>Id</th>
        <th>Nimi</th>
        <th>Rotu</th>
        <th>Sukupuoli</th>
        <th>Syntymävuosi</th>
        <th>Omistaja</th>
        <th>Lajit</th>
        <th>Kuvaus</th>
    </tr>
        
<tr th:each="dog : ${dogs}">
	<td th:text="${dog.id}">Id</td>
    <td th:text="${dog.dogname}">Nimi</td>
    <td th:text="${dog.breed.breedname}">Rotu</td>
	<td th:text="${dog.gender}">Sukupuoli</td>
    <td th:text="${dog.birthyear}">Syntymävuosi</td>
	<td th:text="${dog.owner}">Omistaja</td>
	<td th:text="${dog.activities}">Lajit</td>
	<td th:text="${dog.description}">Kuvaus</td>
    <td><a th:href="@{/edit/{id}(id=${dog.id})}" button type="button" class="btn btn-warning btn-sm">Muokkaa</a></td>
    <td><a th:href="@{/delete/{id}(id=${dog.id})}" button type="button" class="btn btn-danger btn-sm">Poista</a></td>
</tr>


</div>
</table>

<a href="/adddog" button type="button" class="btn btn-primary">Lisää koira</a>



     <!-- <h1>Kirjautuneena: <span sec:authentication="name"></span></h1>  -->
     <!-- <h1>Oikeutesi: <span sec:authentication="principal.authorities">[ROOLI_USER, ROOLI_ADMIN]</span></h1>  -->



	</body>
</html>