<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
	<head>
		<title>Salmeron Palveluskoirayhdistys ry</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

	</head>
	<body>
	<div class="container">

<h1 th:text="'Tervetuloa Salmeron Palveluskoirat ry:n sivuille!'"></h1>




    <p><h3 th:text="'Lista käyttökoiristamme: '"></h3></p>

     <table class="table table-bordered">
		<tr>
        <th>Id</th>
        <th>Nimi</th>
        <th>Rotu</th>
        <th>Sukupuoli</th>
        <th>Syntymävuosi</th>
        <th>Omistaja</th>
        <th>Lajit</th>
        <th>Kuvaus</th>
    </tr>
        
<tr th:each="dog : ${dogs}">
	<td th:text="${dog.id}">Id</td>
    <td th:text="${dog.dogname}">Nimi</td>
    <td th:text="${dog.breed.breedname}">Rotu</td>
	<td th:text="${dog.gender}">Sukupuoli</td>
    <td th:text="${dog.birthyear}">Syntymävuosi</td>
	<td th:text="${dog.owner}">Omistaja</td>
	<td th:text="${dog.activities}">Lajit</td>
	<td th:text="${dog.description}">Kuvaus</td>
    <td sec:authorize="hasAuthority ('ADMIN')"><a th:href="@{/edit/{id}(id=${dog.id})}" button type="button" class="btn btn-warning btn-sm">Muokkaa</a></td>
    <td sec:authorize="hasAuthority ('ADMIN')"><a th:href="@{/delete/{id}(id=${dog.id})}" button type="button" class="btn btn-danger btn-sm">Poista</a></td>
</tr>


</div>
</table>

<a sec:authorize="hasAuthority ('ADMIN')" href="/adddog" button type="button" class="btn btn-primary">Lisää koira</a>



<p><h6>Kirjautuneena: <span sec:authentication="name"></span>, oikeuksilla: <span sec:authentication="principal.authorities"></span>.</h6></p>

    
    <form th:action="@{/logout}" method="post">
	<input type="submit" class="btn btn-danger btn-sm" value="Kirjaudu ulos"/>
    </form>



	</body>
</html>