<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Salmeron Palveluskoirayhdistys ry</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>

     <!--   <h1 th text="'Tervetuloa Salmeron Palveluskoirat ry:n sivuille ' + ${KAYTTAJANNIMI}" + '!'></h1> -->



      <h1 th text="'Lista käyttökoiristamme: '"></h1>

     
        







<a href="/add" class="btn btn-primary">Lisää koira</a>



     <!-- <h1>Kirjautuneena: <span sec:authentication="name"></span></h1>  -->
     <!-- <h1>Oikeutesi: <span sec:authentication="principal.authorities">[ROOLI_USER, ROOLI_ADMIN]</span></h1>  -->



	</body>
</html>